* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    background: var(--color-text);
}

.logo {
    flex-basis: 1.5;
    margin-left: 30px;
    padding-top: 10px;
}

.logo img {
    border-radius: 50%;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-list {
    flex: 2;
}

.nav ul li {
    display: inline;
    position: relative;
    padding: 5px;
    margin: 0px 30px;
}

.nav-list ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list ul li a::after {
    content: "";
    height: 3px;
    width:0%;
    left: 0;
    bottom:0;
    position: absolute;
    background: rgb(207, 69, 5);
    transition: 0.5s;
}

.nav-list ul li a:hover::after {
    width: 100%;
}

.control-panel {
    flex-basis: 1.5;
    margin-right: 30px;
}

.dropdown {
    display: inline-block;
}

.list {
    display: flex;
    justify-content: space-around;
}

.control-panel {
    margin-top: 10px;
}

.nav-menu {
    display: none;
}

@media screen and (max-width:900px) {

    .nav-list  {
        display: none;
    }

    .control-panel {
        display: none;
    }

    .nav-menu {
        display: inline-block;
        position: absolute;
        top: 50px;
        right: 50px;
    }

}


